<!-- app/componentes/filtro-juegos/filtro-juegos.component.html -->
<form>
  <div class="row">
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="nombre" [(ngModel)]="nombreJuego" placeholder="Buscar por nombre">
    </div>
    <div class="form-group col-md-4">
      <select class="form-control" [(ngModel)]="generoJuego" name="genero">
        <option value="">Todos los géneros</option>
        <option *ngFor="let genero of generos" [value]="genero">{{ genero }}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <select class="form-control" [(ngModel)]="plataformaJuego" name="plataforma">
        <option value="">Todas las plataformas</option>
        <option *ngFor="let plataforma of plataformas" [value]="plataforma">{{ plataforma }}</option>
      </select>
    </div>
  </div>
  <div class="col-md-12 pt-3 pb-3">
    <button class="btn btn-primary" (click)="filtrarJuegos()">Filtrar</button>
  </div>
</form>


<div class="row" *ngIf="juegosFiltrados.length > 0; else noResults">
  <div class="col-md-4" *ngFor="let juego of juegosFiltrados">
    <div class="card mb-4">
      <img [src]="juego.thumbnail" class="card-img-top" alt="{{ juego.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ juego.title }}</h5>
        <p class="card-text">{{ juego.short_description }}<a href="juegos/{{juego.id}}">Ver mas</a></p>
      </div>
    </div>
  </div>
</div>
<!-- Si no hay resultados, mostrar este mensaje -->
<ng-template #noResults>
  <p>No se encontraron juegos que coincidan con los criterios de búsqueda.</p>
</ng-template>